include *.py
include *.rst
include .coveragerc
include development.cfg
include production.cfg
include staging.cfg
recursive-include doc *.py
recursive-include doc *.rst
recursive-include etc *.in
recursive-exclude {{ cookiecutter.package_name }} *.pyc
exclude {{ cookiecutter.package_name }}/localsettings.py