[[source]]
url = "https://packages.lizard.net"
verify_ssl = true
name = "nens"

[dev-packages]
coverage = "*"
nose = "*"
"zest.releaser" = "*"
"pep8" = "*"
pyflakes = "*"

[packages]
# Main site should always be installed like this, else setup.py is bypassed
"e1839a8" = {path = ".", editable = true}
# psycopg2 requires libpq-dev; install this with apt
"psycopg2" = "*"
gunicorn = "*"
# pygdal requires libgdal-dev; on Ubuntu 16 this should be pinned to 1.11.3
# pygdal = "1.11.3.*"

[requires]
python_version = "3.5"
